import 'package:angular/angular.dart';
import 'package:angular_components/angular_components.dart';

@Component(
  selector: '${component_selector_case}',
  styleUrls: ['${component_snake_case}_component.css'],
  templateUrl: '${component_snake_case}_component.html',
  directives: [],
  providers: [],
)
class ${component_pascal_case}Component {}